#sscss-add-file-group {
    cursor: pointer;
    color: #135e96;
}
#sscss-files-field table {
    width: 100%;
    max-width: 600px;
}
#sscss-files-field table thead tr td:nth-of-type(1) {
    width: 150px;
    min-width: 150px;
}
#sscss-files-field td {
    vertical-align: top;
}
.sscss-input-file-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.sscss-remove-input {
    margin: 0 10px;
    color: #d63638;
    font-weight: 900;
    cursor: pointer;
}
.sscss-remove-file-group {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    color: #d63638;
}
.sscss-add-input-file {
    cursor: pointer;
    color: #135e96;
}
